<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(theme ? '/assets/themes/' + theme + '.css' : '/assets/themes/default.css')">
<div class="wrapper">
  <nav [ngClass]="{ 'sidebar': true, 'hidden': sidebar_hidden}" *ngIf="user != undefined">
    <div class="sidebar-main">
      <div class="title">
        {{ user.blog_title }}
      </div>
      <div class="img-container">
        <img [ngClass]="{'sidebar-image': user.avatar.indexOf('user_icon.png') != -1, 'sidebar-image-normal': user.avatar.indexOf('user_icon.png') == -1}" [src]="production ? user.avatar : user.avatar.indexOf('data:') != -1 ? user.avatar : 'http://localhost:3000' + user.avatar"> 
      </div>

      <div class="description">{{ user.description }}</div>
      <nav class="links">
        <ul>
          <li><a href="javascript:void(0)" (click)="router.navigate(['/blog/posts/' + user.username])">home</a></li>                         
          <li><a href="javascript:void(0)" (click)="router.navigate(['/blog/account'])">control panel</a></li>
          <li><a href="/users/contact">contact</a></li> 
          <li *ngIf="current_user && user.user_id==current_user.user_id"><a href="javascript:void(0)" (click)="openPostModal()">new</a></li>
        </ul>
      </nav>
      <div class="pagination main"><span id="prev_page"><a *ngIf="pagination && pagination.prev_page" href="javascript:void(0)" (click)="navigatePreviousPage()">← Previous</a></span> <span id="next_page"><a *ngIf="pagination && pagination.next_page" href="javascript:void(0)" (click)="navigateNextPage()">Next →</a></span></div>
      <div class="pagination-number pagination" *ngIf="pagination && pagination.page">Page {{ pagination.page }}</div>
    </div>
    <a href="javascript:void(0)" (click)="toggleSidebar()"><i id="sidebar-toggle-button" [class]="sidebar_button_class" aria-hidden="true"></i></a>
  </nav>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>

<div class="navigation-content" *ngIf="user && current_user">
  <ul class="nav-buttons">
    <li *ngIf="user.user_id != current_user.user_id && !is_friends()" id="addFriend"><a href="#" onclick="addFriend()"><i class="fa fa-user-plus"></i>Add Friend</a></li>
    <li *ngIf="show_requests()" id="Requests"><a href="#" onClick="openRequests()"><p id="num-requests" >{{ check_requests() }}</p><i class="fa fa-users"></i><i>Requests</i></a></li>
    <li *ngIf="current_user" id="Logout"><a href="javascript:void(0)" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
    <li *ngIf="current_user" id="Dashboard"><a href="javascript:void(0)" (click)="router.navigate(['/users/dashboard'])"><i class="fa fa-tachometer"></i>Dashboard</a></li>
  </ul>
</div>


