@import "../../styles.scss";
.navigation-content {
  top:10px;
  right:10px;
  position:fixed;
}
.nav-buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-buttons li {
  background:grey;
  opacity:0.7;
  border: 1px solid black;
  border-radius:10px;
  width:60px;
  font-size:10px;
  display:inline;
  margin:0;
  padding: 0 10px 0 10px;
}
.nav-buttons li a {
  text-decoration:none;
  color:black;
}
#num-requests {
  background:red;
  color:yellow;
  border-radius:40px;
  -moz-border-radius:40px;
  -webkit-border-radius:40px;
  display:none;
  padding: 5px 5px 5px 5px;
}
.sidebar-image-normal {
  width: 120px;
  height: 120px;
}
.sidebar-image, .sidebar-image-normal {
  border-radius: 120px;
  margin-left: 40px;
}
.sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  transition: all 0.3s
}
.sidebar.hidden {
  margin-left: -300px;
}
.wrapper {
  display: flex;
  width: 100%;
}
#sidebar-toggle-button { 
  margin-left: 300px;
  color: white; 
}
#sidebar-toggle-button.hidden {
  margin-left: 0px;
}
@media (max-width: 991.98px) {
  .sidebar {
    margin-left: -300px;
  }
  .sidebar.hidden {
    margin-left: 0px;
  }
}
