body {
  background:#0099FF;
}
.sidebar {
  background:#000099;
  font-family: "Lucida Sans", serif;
  color:white;
}
.sidebar a {
  color: white;
  text-decoration: none;
}
.links ul {
  list-style-type: none;
}
.links ul li {
  border-bottom: 1px solid white;
  width: 75%;

}
.sidebar-main {
  margin-left: 20px;
  margin-top: 40px;
}
.sidebar-image {
  border-radius: 60px;
  margin-left: 40px;
}
.description {
  font-size:10px;
  width:100px;
  margin-left:70px;
}
.title {
  color: white;
  font-size:20px;
  padding-bottom:10px;
  padding-top:10px;
  margin-top:20px;
  border-top:1px solid white;
  border-bottom:1px solid white;
  width:150px;
  text-align:center;
  margin-left:40px;
  margin-bottom: 20px;
}
.links a:hover {
  padding-left:20px;
  color:#FF9966;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.form-heading {
  color: #000099;
}
.sub-heading {
  color:#000099;
  font-style:italic;
  font-size:12px;
  margin-top: -10px;
}
.content {
  font-family:"Lucida Sans Unicode";
  background: #CCF5FF;
  border:2px solid grey;
  box-shadow: 5px 2px 2px blue;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /*margin: 30px 30px 30px 30px;*/
  padding-left: 40px;
  padding-bottom:20px;
  padding-right:20px;
}
.profile-pic {
  border-radius: 80px;
}
h3 {
  font-size: 20px;
  font-style: italic;
}